<h1 id="category-name">Filters</h1>
<hr>
{{#each this}}
    <div>
        <ul>
            {{#each this}}
                {{#if @first}}
                    <li onclick="categoriesController.onMouseClick(7)" value="{{this}}">{{this}}</li>
                {{/if}}
                {{#each this}}
                    <li onclick="productsController.filter('{{../../this.name}}', '{{this}}', '{{../../this.id}}')" value="{{this}}">{{this}}</li>
                {{/each}}
            {{/each}}
            <!-- <li value="volvo">Volvo</li>
            <li value="saab">Saab</li>
            <li value="mercedes">Mercedes</li>
            <li value="audi">Audi</li> -->
        </ul>
    </div>
{{/each}}
<button onclick="categoriesController.onMouseClick(7)" id="clear-filters">CLEAR</button>
