<div class="jumbotron">
  <h2>Filters</h2>
  <div class="table-responsive">
      <table id="filters-table" class="table dataTable table-responsive table-hover">
          <thead>
              {{#each filters}}
                {{#if @first}}
                    {{#each this}}
                        <th>

                        </th>
                        {{#each this}}
                          <th>

                          </th>
                        {{/each}}
                    {{/each}}
                {{/if}}
              {{/each}}
          </thead>
          <tbody>
              {{#each filters}}
              <tr>
                      {{#each this}}
                          {{#if @first}}
                              <td class="info">
                                {{this}}
                              </td>
                          {{/if}}
                          <!-- {{#each this}} -->
                              <td>
                                  <a onclick="productsController.filter('{{../../this.name}}', '{{this}}', '{{../../this.id}}')">
                                      {{this}}
                                  </a>
                              </td>
                          <!-- {{/each}} -->
                      {{/each}}
              </tr>
              {{/each}}
          <tbody>
      </table>
</div>

  <h1>Products</h1>

  <table id="products-table" class="table table-responsive table-hover">
      <thead class="thead-inverse">
          <tr>
              <th>
                  Purchase
              </th>
                {{#each products}}
                    {{#if @first}}
                        {{#each this}}
                            <th>
                                {{@key}}
                            </th>
                        {{/each}}
                    {{/if}}
                {{/each}}
                <th>
                    Compare
                </th>
          </tr>
      </thead>
      <tbody>
          {{#each products}}
              <tr>
                  <td>
                      <button onclick="productsController.addToCart('{{this.system}}')" type="button" class="btn-block">ADD</button>
                  </td>
                  {{#each this}}
                      {{#if @last}}
                        <td>
                            <img class="img-responsive img-responsive-2" src="{{this}}"/>
                        </td>
                      {{/if}}
                  {{/each}}
                  {{#each this}}
                    {{#unless @last}}
                        <td>
                            {{this}}
                        </td>
                    {{/unless}}
                  {{/each}}
                  <td>
                      <input type="checkbox" class="checkbox-primary" value="">
                  </td>
              </tr>
          {{/each}}
    </tbody>
  </table>

</div>
