<h3>Personal info</h3>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
            <input id="fname" class="form-control" type="text" value="{{fname}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
            <input id="lname" class="form-control" type="text" value="{{lname}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Company:</label>
        <div class="col-lg-8">
            <input id="firm" class="form-control" type="text" value="{{firm}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Country:</label>
        <div class="col-lg-8">
            <input id="country" class="form-control" type="text" value="{{country}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">City:</label>
        <div class="col-lg-8">
            <input id="city" class="form-control" type="text" value="{{city}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Address:</label>
        <div class="col-lg-8">
            <input id="address" class="form-control" type="text" value="{{address}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Phone:</label>
        <div class="col-lg-8">
            <input id="tel" class="form-control" type="text" value="{{phone}}" required>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div id="username" class="col-md-8">
            <input class="form-control" type="text" value="{{username}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Password:</label>
        <div class="col-md-8">
            <input class="form-control" type="password" value="{{password}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Confirm password:</label>
        <div class="col-md-8">
            <input class="form-control" type="password" value="{{password}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
            <input onclick="userController.signUp({{email}},{{password}})" type="button" class="btn btn-primary" value="Save Changes">
        </div>
    </div>
</form>